/*!
 * Created for Bottle Stop Properties by Michael Standen
 */
body {
	padding-top: 50px;
	background: #eeeeee;
}

.logo-corner {
	display: none;
}

@media(min-width:768px) {
	.logo-corner {
		display: block;
		height: 160px;
		top: 5px;
		margin: 5px 0 0 100px;
		position: fixed;
		z-index: 1050;
	}
}

.navbar-brand-center {
	display: inline-block;
	padding-top: 15px;
}
.navbar-brand-center .navbar-brand {
	padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, {
	color: #ff7518;
}

.roboto {
	font-family: "Roboto", sans-serif;
}

.bottlestop-orange {
	color: #E77B24!important;
}

.bottlestop-grey {
	color: #3C4F4D!important;
}

.bottlestop-light-grey {
	color: #BDBCC1!important;
}

.navbar-default .navbar-brand {
	font-size: 1.5em;
}

@media(min-width:768px) {
	.navbar-default .navbar-brand {
		font-size: 1em;
	}
	.login-btn {
		font-size: 80%;
	}
}

@media(min-width:970px) {
	.navbar-default .navbar-brand {
		font-size: 2em;
	}
	.login-btn {
		font-size: 100%;
	}
}

@media(min-width:1200px) {
	.navbar-default .navbar-brand {
		font-size: 3em;
	}
}

.sky {
	margin: 20px 0 0 10px;
	position: relative;
	background: transparent;
}
.sky::after {
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/sky.jpg"); 
	background-size: cover;
	border-radius: 20px 0;
	width: 100%;
	height: 100%;
    opacity : 0.8;
    z-index: -1;
}

p.narrow {
	line-height: 25px;
	margin-bottom: 0;
}

.anchor {
	margin-top: -55px;
	padding-top: 60px;
}

.max-width-container {
	max-width: 1170px;
}

.clear {
	float: none;
}

.fa-less-margin {
	margin-left: -18px;
}

.side-panel {
	display: block;
	border: 1px solid #3C4F4D;
	background-color: #E77B24;
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 8px;
	color: #333;
}

.side-panel span {
	font-size: 5em;
}

.side-panel:hover {
	background-color: #eee;
	cursor: pointer;
	text-decoration: none;
}

.side-panel h3 {
	margin-top: 10px;
}

.navbar-inverse {
	background-color: #000;
}

.navbar-inverse .nav.nav-pills a {
	color: #E77B24;
	font-weight: bold;
	font-size: 80%;
}

@media(min-width:768px) {
	.navbar-inverse .nav.nav-pills a {
		font-size: 100%;
	}
}

.bottom-margin {
	margin-bottom: 30px;
}

.md-top-margin {
	margin-top: 0;
}

@media(min-width:992px) {
	.md-top-margin {
		margin-top: 20px;
	}
}

.right {
	float: right;
}

.jumbotron h1 {
	text-align: center;
}
.jumbotron p {
	color: black;
	font-weight: 500;
}

ul.blocked li {
	display: inline-block;
	width: 230px;
}

#wrapper > .container,
#wrapper > .container-fluid {
	min-height: 80vh;
}
